
/** KITT - STYLE SHEET - Selection List Style */

test
{
	width: 42pt;
	height: 42pt;

	position: relative;

	opacity: 0.75;
}

test.selected
{
	position: relative;
	left: 100%;
	top: -25pt;
	float: center;

	flex-flow: row rap;
	display: flex;
	align-content: space-end;

	opacity: 0.95;
}

test.selected span
{
	position: relative;
	-webkit-animation: imgAnimation 10s; /* Chrome, Safari, Opera */
	animation: imgAnimation 5s infinite;

	&:hover .infoBox {
      visibility: visible;
    }
}

test.selected img
{
	width: 100pt;
	height: 100pt;
}

img-text
{
	visibility:hidden;
}

test.selected img-text
{
	visibility:visible;
	width: 100pt;
	text-align: center;
	float: left;
	font: bold 18pt arial;
	color: #e04107;
}


/* Image Animation */

@-webkit-keyframes imgAnimation
{
	0%
	{
		left: 0pt;
		top: 0pt;
	}
	
	25%
	{
		left:50pt;
		top:0pt;
	}
}

@keyframes imgAnimation
{
	0%
	{
		left: 0pt;
		top: 0pt;
	}
	
	25%
	{
		left:50pt;
		top:0pt;
	}
}